In [17]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

In [15]:
# Reading and inspection
df1 = pd.read_csv('Resources/bake_nyc.csv')
df2 = pd.read_csv('Resources/cake_nyc.csv')
df3 = pd.read_csv('Resources/desserts_nyc.csv')
df4 = pd.read_csv('Resources/donut_nyc.csv')
df5 = pd.read_csv('Resources/patisserie_nyc.csv')
df6 = pd.read_csv('Resources/viennoiserie_nyc.csv')
master_df = pd.concat([df1, df2, df3, df4, df5, df6]).drop_duplicates()
# Check status
master_df['is_closed'].describe()
# Create sublist
master_df_sub = master_df[['name', 'review_count', 'categories', 'rating', 'coordinates', 'price']]
master_df_sub.head()

,name,review_count,categories,rating,coordinates,price
0,Michaeli Bakery,158,"[{'alias': 'bakeries', 'title': 'Bakeries'}, {...",5.0,"{'latitude': 40.714349, 'longitude': -73.992054}",$$
1,Mei Lai Wah Bakery,1735,"[{'alias': 'bakeries', 'title': 'Bakeries'}, {...",4.0,"{'latitude': 40.7155758, 'longitude': -73.9979...",$
2,Dominique Ansel Bakery,5384,"[{'alias': 'bakeries', 'title': 'Bakeries'}, {...",4.0,"{'latitude': 40.72516, 'longitude': -74.00296}",$$
3,Angelina Bakery,609,"[{'alias': 'bakeries', 'title': 'Bakeries'}, {...",4.5,"{'latitude': 40.75498, 'longitude': -73.99166}",$$
4,L'Appartement 4F,181,"[{'alias': 'bakeries', 'title': 'Bakeries'}]",4.0,"{'latitude': 40.69521417249751, 'longitude': -...",$$

In [ ]:
# Selection and filtering

In [ ]:
# Manipulation & Statistics
# Convert price col to int

In [26]:
# Visualization